body {
  margin: 0;
  background: #111;
  color: #ffcc00;
  font-family: arial, helvetica, sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 80px;
}

h1 {
  font-size: 60px;
  letter-spacing: 8px;
  margin: 20px 0;
}

p {
  font-size: 24px;
  letter-spacing: 2px;
}

.links {
  margin-top: 50px;
}

a {
  color: white;
  text-decoration: none;
  margin: 15px;
  letter-spacing: 3px;
}
